.modal-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-58%, -55%);
  padding: 32px;
  background-color: #fff;
}

.text-field {
  width: 300px;
}

.form-button {
  margin-top: 10px !important;
  width: 300px;
}