.navbar {
  flex-grow: 1;
}

/* Add only to leftmost element that should be right aligned */
.nav-icon {
  margin-left: auto !important;
}

.appbar {
  color: black !important;
  background-color: white !important;
}